* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background: #252525;
    justify-content: center;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px 0;
}

ul {
    list-style-type: none;
    padding: 12px;
    color: #fff;
    overflow: auto;
    font-size: 17px;
    font-family: fantasy;
}

input:focus {
    outline: none;
}



input {
    padding: 12px;
    border-radius: 12px;
    background: #b6f3be;
    border: none;

}


li {
    padding: 12px;
    border-radius: 12px;
    background: #28ca3e;
    border: none;
    margin-top: 7px;
    width: max-content;
}